h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: var(--text-title);

	&.subtitle {
		color: var(--text-subtitle) !important;
	}
}

/* Indeed, the <spa> tag does not exists, it's nota typo but I wanted a span value to have this color, but can't globally change the color of all spans so I opted to crate a new element, also beacuse I didn't knew this was possible. */
spa {
	color: var(--text-subtitle);
}

title,
ptitle {
	color: var(--text-title);
}

subtitle,
psub {
	color: var(--text-subtitle);
}

.subtitle {
	color: var(--text-subtitle);
}

.title {
	color: var(--text-title);
}

.heading {
	background-image: linear-gradient(to bottom,
			var(--text-title),
			var(--white--64));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
