{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 4,
  "useTabs": true,
  "trailingComma": "none",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "<TYPES>",
    "<TYPES>^[@~]/(?!$).*$",
    "",
    "^[@~]/.*$",
    "^[.]"
  ],
  "experimentalTernaries": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
