{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "none",
	"overrides": [
		{
			"files": ["*.tsx", "*.ts", "*.scss", "*.css", "*.mdx"],
			"options": {
				"useTabs": true,
				"tabWidth": 4,
				"singleQuote": true,
				"semi": false,
				"trailingComma": "none"
			}
		}
	]
}
