<div class="card inherited-styles-for-exported-element">
	<div class="card-illustration infinite-layers">
		<div>
			<div>
				<label
					data-css-demo-pro-visual-button=""
					data-css-demo-pro-edit-rule="custom-add-background-layer"
					data-style="full"
				>
					<div>
						<button
							type="button"
							value="none"
							name="css-demo-pro-add-background-layer"
							class=""
						>
							<span class="css-demo-pro-visual-button-span"
								><svg
									class="svg-inline--fa fa-plus margin-right-8px"
									aria-hidden="true"
									focusable="false"
									data-prefix="fas"
									data-icon="plus"
									role="img"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 448 512"
									data-fa-i2svg=""
								>
									<path
										fill="currentColor"
										d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
									></path></svg
								><!-- <i class="fas fa-plus margin-right-8px"></i> Font Awesome fontawesome.com -->
								Add background layer</span
							>
						</button>
					</div>
				</label>
			</div>

			<div>
				<label
					data-css-demo-pro-background-input=""
					data-css-demo-pro-edit-rule="background"
					class=""
				>
					<svg
						class="svg-inline--fa fa-bars"
						aria-hidden="true"
						focusable="false"
						data-prefix="fas"
						data-icon="bars"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 448 512"
						data-fa-i2svg=""
					>
						<path
							fill="currentColor"
							d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
						></path></svg
					><!-- <i class="fas fa-bars fa-bars"></i> Font Awesome fontawesome.com -->
					<span
						class="css-demo-pro-visual-editor-color css-demo-pro-visual-editor-color-open-dropdown"
						data-background-type="linear-gradient"
						data-was-never-opened=""
						data-unformatted-background="linear-gradient(236deg, #BAFF99 0%, #005E64 100%)"
						data-angle="236"
						data-background-blend-mode="overlay"
						style="
							background: linear-gradient(
								236deg,
								rgb(186, 255, 153) 0%,
								rgb(0, 94, 100) 100%
							);
						"
					></span>
					<input
						spellcheck="false"
						value="Linear gradient"
						type="text"
						disabled=""
						class=""
					/>
					<label
						data-css-demo-pro-visual-button=""
						data-css-demo-pro-edit-rule="custom-toggle-background-layer"
						data-tippy-content="Toggle layer"
					>
						<div>
							<button
								type="button"
								value="none"
								name="css-demo-pro-toggle-background-layer"
							>
								<span class="css-demo-pro-visual-button-span"
									><svg
										class="svg-inline--fa fa-eye"
										aria-hidden="true"
										focusable="false"
										data-prefix="fas"
										data-icon="eye"
										role="img"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 576 512"
										data-fa-i2svg=""
									>
										<path
											fill="currentColor"
											d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"
										></path></svg
									><!-- <i class="fas fa-eye"></i> Font Awesome fontawesome.com --></span
								>
							</button>
						</div>
					</label>
					<label
						data-css-demo-pro-visual-button=""
						data-css-demo-pro-edit-rule="custom-duplicate-background-layer"
						data-tippy-content="Duplicate layer"
					>
						<div>
							<button
								type="button"
								value="none"
								name="css-demo-pro-duplicate-background-layer"
							>
								<span class="css-demo-pro-visual-button-span"
									><svg
										class="svg-inline--fa fa-clone"
										aria-hidden="true"
										focusable="false"
										data-prefix="fas"
										data-icon="clone"
										role="img"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 512 512"
										data-fa-i2svg=""
									>
										<path
											fill="currentColor"
											d="M0 448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H224c-53 0-96-43-96-96V160H64c-35.3 0-64 28.7-64 64V448zm224-96H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64z"
										></path></svg
									><!-- <i class="fas fa-clone"></i> Font Awesome fontawesome.com --></span
								>
							</button>
						</div>
					</label>
					<label
						data-css-demo-pro-visual-button=""
						data-css-demo-pro-edit-rule="custom-remove-background-layer"
						data-tippy-content="Remove layer"
					>
						<div>
							<button
								type="button"
								value="none"
								name="css-demo-pro-remove-background-layer"
							>
								<span class="css-demo-pro-visual-button-span"
									><svg
										class="svg-inline--fa fa-minus"
										aria-hidden="true"
										focusable="false"
										data-prefix="fas"
										data-icon="minus"
										role="img"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 448 512"
										data-fa-i2svg=""
									>
										<path
											fill="currentColor"
											d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"
										></path></svg
									><!-- <i class="fas fa-minus"></i> Font Awesome fontawesome.com --></span
								>
							</button>
						</div>
					</label> </label
				><label
					data-css-demo-pro-background-input=""
					data-css-demo-pro-edit-rule="background"
					class=""
				>
					<svg
						class="svg-inline--fa fa-bars"
						aria-hidden="true"
						focusable="false"
						data-prefix="fas"
						data-icon="bars"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 448 512"
						data-fa-i2svg=""
					>
						<path
							fill="currentColor"
							d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
						></path></svg
					><!-- <i class="fas fa-bars fa-bars"></i> Font Awesome fontawesome.com -->
					<span
						class="css-demo-pro-visual-editor-color css-demo-pro-visual-editor-color-open-dropdown"
						data-background-type="linear-gradient"
						data-was-never-opened=""
						data-unformatted-background="linear-gradient(180deg, #FFFFFF 0%, #002A5A 100%)"
						data-angle="180"
						data-background-blend-mode="overlay"
						style="
							background: linear-gradient(
								rgb(255, 255, 255) 0%,
								rgb(0, 42, 90) 100%
							);
						"
					></span>
					<input
						spellcheck="false"
						value="Linear gradient"
						type="text"
						disabled=""
						class=""
					/>
					<label
						data-css-demo-pro-visual-button=""
						data-css-demo-pro-edit-rule="custom-toggle-background-layer"
						data-tippy-content="Toggle layer"
					>
						<div>
							<button
								type="button"
								value="none"
								name="css-demo-pro-toggle-background-layer"
							>
								<span class="css-demo-pro-visual-button-span"
									><svg
										class="svg-inline--fa fa-eye"
										aria-hidden="true"
										focusable="false"
										data-prefix="fas"
										data-icon="eye"
										role="img"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 576 512"
										data-fa-i2svg=""
									>
										<path
											fill="currentColor"
											d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"
										></path></svg
									><!-- <i class="fas fa-eye"></i> Font Awesome fontawesome.com --></span
								>
							</button>
						</div>
					</label>
					<label
						data-css-demo-pro-visual-button=""
						data-css-demo-pro-edit-rule="custom-duplicate-background-layer"
						data-tippy-content="Duplicate layer"
					>
						<div>
							<button
								type="button"
								value="none"
								name="css-demo-pro-duplicate-background-layer"
							>
								<span class="css-demo-pro-visual-button-span"
									><svg
										class="svg-inline--fa fa-clone"
										aria-hidden="true"
										focusable="false"
										data-prefix="fas"
										data-icon="clone"
										role="img"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 512 512"
										data-fa-i2svg=""
									>
										<path
											fill="currentColor"
											d="M0 448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H224c-53 0-96-43-96-96V160H64c-35.3 0-64 28.7-64 64V448zm224-96H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64z"
										></path></svg
									><!-- <i class="fas fa-clone"></i> Font Awesome fontawesome.com --></span
								>
							</button>
						</div>
					</label>
					<label
						data-css-demo-pro-visual-button=""
						data-css-demo-pro-edit-rule="custom-remove-background-layer"
						data-tippy-content="Remove layer"
					>
						<div>
							<button
								type="button"
								value="none"
								name="css-demo-pro-remove-background-layer"
							>
								<span class="css-demo-pro-visual-button-span"
									><svg
										class="svg-inline--fa fa-minus"
										aria-hidden="true"
										focusable="false"
										data-prefix="fas"
										data-icon="minus"
										role="img"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 448 512"
										data-fa-i2svg=""
									>
										<path
											fill="currentColor"
											d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"
										></path></svg
									><!-- <i class="fas fa-minus"></i> Font Awesome fontawesome.com --></span
								>
							</button>
						</div>
					</label> </label
				><label
					data-css-demo-pro-background-input=""
					data-css-demo-pro-edit-rule="background"
					class=""
				>
					<svg
						class="svg-inline--fa fa-bars"
						aria-hidden="true"
						focusable="false"
						data-prefix="fas"
						data-icon="bars"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 448 512"
						data-fa-i2svg=""
					>
						<path
							fill="currentColor"
							d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
						></path></svg
					><!-- <i class="fas fa-bars fa-bars"></i> Font Awesome fontawesome.com -->
					<span
						class="css-demo-pro-visual-editor-color css-demo-pro-visual-editor-color-open-dropdown"
						data-background-type="linear-gradient"
						data-was-never-opened=""
						data-unformatted-background="linear-gradient(225deg, #0094FF 20%, #BFF4ED 45%, #280F34 45%, #280F34 70%, #FF004E 70%, #E41655 85%, #B30753 85%, #B30753 100%)"
						data-angle="225"
						data-background-blend-mode="darken"
						style="
							background: linear-gradient(
								225deg,
								rgb(0, 148, 255) 20%,
								rgb(191, 244, 237) 45%,
								rgb(40, 15, 52) 45%,
								rgb(40, 15, 52) 70%,
								rgb(255, 0, 78) 70%,
								rgb(228, 22, 85) 85%,
								rgb(179, 7, 83) 85%,
								rgb(179, 7, 83) 100%
							);
						"
					></span>
					<input
						spellcheck="false"
						value="Linear gradient"
						type="text"
						disabled=""
						class=""
					/>
					<label
						data-css-demo-pro-visual-button=""
						data-css-demo-pro-edit-rule="custom-toggle-background-layer"
						data-tippy-content="Toggle layer"
						class=""
					>
						<div>
							<button
								type="button"
								value="none"
								name="css-demo-pro-toggle-background-layer"
								class=""
							>
								<span class="css-demo-pro-visual-button-span"
									><svg
										class="svg-inline--fa fa-eye"
										aria-hidden="true"
										focusable="false"
										data-prefix="fas"
										data-icon="eye"
										role="img"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 576 512"
										data-fa-i2svg=""
									>
										<path
											fill="currentColor"
											d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"
										></path></svg
									><!-- <i class="fas fa-eye"></i> Font Awesome fontawesome.com --></span
								>
							</button>
						</div>
					</label>
					<label
						data-css-demo-pro-visual-button=""
						data-css-demo-pro-edit-rule="custom-duplicate-background-layer"
						data-tippy-content="Duplicate layer"
					>
						<div>
							<button
								type="button"
								value="none"
								name="css-demo-pro-duplicate-background-layer"
							>
								<span class="css-demo-pro-visual-button-span"
									><svg
										class="svg-inline--fa fa-clone"
										aria-hidden="true"
										focusable="false"
										data-prefix="fas"
										data-icon="clone"
										role="img"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 512 512"
										data-fa-i2svg=""
									>
										<path
											fill="currentColor"
											d="M0 448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H224c-53 0-96-43-96-96V160H64c-35.3 0-64 28.7-64 64V448zm224-96H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64z"
										></path></svg
									><!-- <i class="fas fa-clone"></i> Font Awesome fontawesome.com --></span
								>
							</button>
						</div>
					</label>
					<label
						data-css-demo-pro-visual-button=""
						data-css-demo-pro-edit-rule="custom-remove-background-layer"
						data-tippy-content="Remove layer"
					>
						<div>
							<button
								type="button"
								value="none"
								name="css-demo-pro-remove-background-layer"
							>
								<span class="css-demo-pro-visual-button-span"
									><svg
										class="svg-inline--fa fa-minus"
										aria-hidden="true"
										focusable="false"
										data-prefix="fas"
										data-icon="minus"
										role="img"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 448 512"
										data-fa-i2svg=""
									>
										<path
											fill="currentColor"
											d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"
										></path></svg
									><!-- <i class="fas fa-minus"></i> Font Awesome fontawesome.com --></span
								>
							</button>
						</div>
					</label> </label
				><label
					data-css-demo-pro-background-input=""
					data-css-demo-pro-edit-rule="background"
					class=""
				>
					<svg
						class="svg-inline--fa fa-bars"
						aria-hidden="true"
						focusable="false"
						data-prefix="fas"
						data-icon="bars"
						role="img"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 448 512"
						data-fa-i2svg=""
					>
						<path
							fill="currentColor"
							d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
						></path></svg
					><!-- <i class="fas fa-bars fa-bars"></i> Font Awesome fontawesome.com -->
					<span
						class="css-demo-pro-visual-editor-color css-demo-pro-visual-editor-color-open-dropdown"
						data-background-type="linear-gradient"
						data-was-never-opened=""
						data-unformatted-background="linear-gradient(135deg, #0E0220 15%, #0E0220 35%, #E40475 35%, #E40475 60%, #48E0E4 60%, #48E0E4 68%, #D7FBF6 68%, #D7FBF6 100%)"
						data-angle="135"
						data-background-blend-mode="normal"
						style="
							background: linear-gradient(
								135deg,
								rgb(14, 2, 32) 15%,
								rgb(14, 2, 32) 35%,
								rgb(228, 4, 117) 35%,
								rgb(228, 4, 117) 60%,
								rgb(72, 224, 228) 60%,
								rgb(72, 224, 228) 68%,
								rgb(215, 251, 246) 68%,
								rgb(215, 251, 246) 100%
							);
						"
					></span>
					<input
						spellcheck="false"
						value="Linear gradient"
						type="text"
						disabled=""
						class=""
					/>
					<label
						data-css-demo-pro-visual-button=""
						data-css-demo-pro-edit-rule="custom-toggle-background-layer"
						data-tippy-content="Toggle layer"
						class=""
					>
						<div>
							<button
								type="button"
								value="none"
								name="css-demo-pro-toggle-background-layer"
								class=""
							>
								<span class="css-demo-pro-visual-button-span"
									><svg
										class="svg-inline--fa fa-eye"
										aria-hidden="true"
										focusable="false"
										data-prefix="fas"
										data-icon="eye"
										role="img"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 576 512"
										data-fa-i2svg=""
									>
										<path
											fill="currentColor"
											d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"
										></path></svg
									><!-- <i class="fas fa-eye"></i> Font Awesome fontawesome.com --></span
								>
							</button>
						</div>
					</label>
					<label
						data-css-demo-pro-visual-button=""
						data-css-demo-pro-edit-rule="custom-duplicate-background-layer"
						data-tippy-content="Duplicate layer"
					>
						<div>
							<button
								type="button"
								value="none"
								name="css-demo-pro-duplicate-background-layer"
							>
								<span class="css-demo-pro-visual-button-span"
									><svg
										class="svg-inline--fa fa-clone"
										aria-hidden="true"
										focusable="false"
										data-prefix="fas"
										data-icon="clone"
										role="img"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 512 512"
										data-fa-i2svg=""
									>
										<path
											fill="currentColor"
											d="M0 448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H224c-53 0-96-43-96-96V160H64c-35.3 0-64 28.7-64 64V448zm224-96H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64z"
										></path></svg
									><!-- <i class="fas fa-clone"></i> Font Awesome fontawesome.com --></span
								>
							</button>
						</div>
					</label>
					<label
						data-css-demo-pro-visual-button=""
						data-css-demo-pro-edit-rule="custom-remove-background-layer"
						data-tippy-content="Remove layer"
					>
						<div>
							<button
								type="button"
								value="none"
								name="css-demo-pro-remove-background-layer"
							>
								<span class="css-demo-pro-visual-button-span"
									><svg
										class="svg-inline--fa fa-minus"
										aria-hidden="true"
										focusable="false"
										data-prefix="fas"
										data-icon="minus"
										role="img"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 448 512"
										data-fa-i2svg=""
									>
										<path
											fill="currentColor"
											d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"
										></path></svg
									><!-- <i class="fas fa-minus"></i> Font Awesome fontawesome.com --></span
								>
							</button>
						</div>
					</label>
				</label>
			</div>
		</div>
	</div>
	<div class="card-text">
		<p class="card-title">Infinite layers</p>
		<p class="card-desc">
			Easily create complex backgrounds with our
			<strong>best-in-class background editor</strong> that supports
			multiple layers. Hide, re-order, duplicate, blend, or delete layers
			with ease.
		</p>
	</div>
</div>
<style>
	body {
		background: #eee;
		/* This is just a helper in case the element has a transparent background or white colors. */
	}

	.card {
		flex-direction: column;
	}

	.card .card-title,
	.inherited-styles-for-exported-element,
	strong {
		font-family:
			CerebriSans,
			-apple-system,
			BlinkMacSystemFont,
			Roboto,
			sans-serif;
	}

	.inherited-styles-for-exported-element {
		color: #fff;
		font-size: 18px;
	}

	.card .card-title,
	strong {
		font-weight: 600;
	}

	.card {
		background-image: radial-gradient(
				87% 50% at 50% -38%,
				rgba(255, 255, 255, 0.05) 77.5%,
				rgba(255, 255, 255, 0.016) 88.13%,
				rgba(255, 255, 255, 0) 100%
			),
			radial-gradient(
				97% 109% at 48% 0,
				rgba(0, 0, 0, 0.07) 0,
				rgba(0, 0, 0, 0.4) 100%
			);
		border-radius: 28px;
		padding: 32px;
		-webkit-background-clip: initial, initial;
		background-color: initial;
		box-shadow: rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
		display: inline-flex;
		text-align: left;
	}

	p {
		margin-left: auto;
		margin-right: auto;
		max-width: 700px;
	}

	.card .card-title {
		margin-bottom: 1em;
	}

	.card .card-illustration {
		box-sizing: border-box;
		height: auto;
		min-height: 150px;
		position: relative;
		width: 100%;
	}

	.card .card-title {
		font-size: 22px;
	}

	.card .card-text {
		margin-top: 1em;
	}

	.card .card-desc {
		line-height: 1.6;
		opacity: 0.85;
	}

	.card-illustration.infinite-layers {
		border-radius: 10px;
		zoom: 0.75;
		background-color: initial;
		background-image: radial-gradient(
			rgba(255, 255, 255, 0.13),
			transparent
		);
		box-shadow: rgba(255, 255, 255, 0.05) 0 0 0 1px inset;
		padding: 5px 2px 5px 10px;
	}

	.margin-right-8px {
		margin-right: 8px;
	}

	label[data-css-demo-pro-visual-button] span.css-demo-pro-visual-button-span,
	label[data-css-demo-pro-visual-button] svg {
		pointer-events: none;
	}

	.card {
		align-self: stretch;
		backdrop-filter: none;
		flex: 1 1 0;
		margin: 15px 0;
	}

	label[data-css-demo-pro-background-input] {
		border-radius: 6px;
		box-sizing: border-box;
		font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
		font-feature-settings: normal;
		font-kerning: auto;
		font-optical-sizing: auto;
		font-size: 13.3333px;
		font-size-adjust: none;
		font-variant: normal;
		font-variant-position: normal;
		font-variation-settings: normal;
		font-weight: 400;
		letter-spacing: initial;
		line-height: normal;
		margin: initial;
		min-width: 85px;
	}

	label[data-css-demo-pro-background-input] .fa-bars {
		font-size: 11px;
		margin-right: 10px;
		opacity: 0.4;
	}

	.css-demo-pro-visual-editor-color-open-dropdown {
		border-radius: 33px;
		display: inline-block;
		height: 19px;
		overflow: hidden;
		position: relative;
		width: 19px;
	}

	.css-demo-pro-visual-editor-color-open-dropdown::before {
		background-color: #fff;
		background-image: repeating-linear-gradient(
				45deg,
				silver 25%,
				transparent 25%,
				transparent 75%,
				silver 75%,
				silver
			),
			repeating-linear-gradient(
				45deg,
				silver 25%,
				#fff 25%,
				#fff 75%,
				silver 75%,
				silver
			);
		background-position:
			0 0,
			5px 5px;
		background-size: 10px 10px;
		border-radius: inherit;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transform: scale(0.99);
		width: 100%;
		z-index: -1;
	}

	label[data-css-demo-pro-background-input] input {
		background-attachment: initial !important;
		background-clip: initial !important;
		background-color: initial !important;
		background-image: initial !important;
		background-origin: initial !important;
		background-position: 0 0 !important;
		background-repeat: initial !important;
		background-size: initial !important;
		border: 0 initial !important;
		border-color: initial !important;
		border-image: initial initial initial initial initial !important;
		box-shadow: none !important;
		box-sizing: border-box;
		color: #fff !important;
		display: initial;
		font-size: 14px !important;
		height: initial !important;
		line-height: initial;
		margin: 0 !important;
		opacity: 1;
		outline: 0 !important;
		padding: 6px 8px !important;
		vertical-align: initial;
		width: initial;
	}

	[data-css-demo-pro-background-input] input {
		max-width: 139px;
		text-overflow: ellipsis;
	}

	label[data-css-demo-pro-visual-button] {
		cursor: default;
		display: inline-flex;
		margin: 0;
		padding: 4px 2px;
	}

	label[data-css-demo-pro-visual-button] > div {
		display: inline-block;
		margin-right: 3px;
		position: relative;
	}

	label[data-css-demo-pro-visual-button]:not([data-style='full']) button {
		height: 100%;
		left: initial !important;
		right: initial !important;
	}

	label[data-css-demo-pro-visual-button] button {
		background-color: initial;
		background-position: 0 0;
		border-style: none;
		box-shadow: none !important;
		box-sizing: border-box;
		cursor: initial;
		display: initial;
		font-size: 13.33px;
		font-weight: initial;
		height: 100%;
		left: initial !important;
		line-height: 16px;
		margin: 0;
		opacity: 1;
		padding: 0;
		position: initial;
		right: initial !important;
		text-transform: none;
		transform: none !important;
	}

	.card label[data-css-demo-pro-visual-button] button {
		width: 101%;
	}

	label[data-css-demo-pro-visual-button]:not([data-style='full'])
		span.css-demo-pro-visual-button-span {
		height: 27px;
		width: 27px;
	}

	label[data-css-demo-pro-visual-button]
		span.css-demo-pro-visual-button-span {
		align-items: center;
		background-color: initial;
		background-position: 0 0;
		border-radius: 6px;
		color: #fff;
		display: flex;
		flex-direction: row;
		font-size: 13.33px;
		justify-content: center;
		line-height: 16px;
	}

	label[data-css-demo-pro-background-input] input,
	label[data-css-demo-pro-background-input] span,
	label[data-css-demo-pro-visual-button] span {
		font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif !important;
	}

	label[data-css-demo-pro-background-input] {
		align-items: center;
		display: inline-flex;
		padding: 4px 7px 4px 6px;
	}

	label[data-css-demo-pro-visual-button][data-css-demo-pro-edit-rule='custom-add-background-layer'] {
		margin-bottom: 5px;
		margin-left: 0 !important;
		padding-left: 0;
	}

	label[data-css-demo-pro-visual-button][data-style='full'] button span {
		padding: 7px 10px;
	}

	@media screen and (min-width: 375px) {
		.card-illustration.infinite-layers {
			zoom: 0.9;
		}
	}

	@media screen and (min-width: 425px) {
		.card-illustration.infinite-layers {
			zoom: 1;
		}
	}

	@media screen and (min-width: 735px) {
		.card-title {
			letter-spacing: -0.01em;
		}

		.card {
			padding: 50px;
		}

		.card .card-illustration {
			width: 300px;
		}
	}

	@media screen and (min-width: 1024px) {
		.card {
			margin: 15px;
		}

		.card:last-child {
			margin-right: 0;
		}

		.card:first-child {
			margin-left: 0;
		}
	}

	svg:not(:host).svg-inline--fa,
	svg:not(:root).svg-inline--fa {
		box-sizing: content-box;
		overflow: visible;
	}

	.svg-inline--fa {
		display: var(--fa-display, inline-block);
		height: 1em;
		overflow: visible;
		vertical-align: -0.125em;
	}
</style>
