$horizontal-padding: 48px;
$vertical-padding: 72px;

.px-theme {
	padding-left: $horizontal-padding;
	padding-right: $horizontal-padding;

	@media (max-width: 1024px) {
		padding-left: 36px;
		padding-right: 26px;
	}

	&-medium {
		padding-left: 32px;
		padding-right: 32px;

		@media (max-width: 1024px) {
			padding-left: 36px;
			padding-right: 36px;
		}
	}

	&-small {
		padding-left: 24px;
		padding-right: 24px;

		@media (max-width: 1024px) {
			padding-left: 16px;
			padding-right: 16px;
		}
	}
}

.py-theme {
	padding-top: $vertical-padding;
	padding-bottom: $vertical-padding;

	@media (max-width: 1024px) {
		padding-top: 48px;
		padding-bottom: 48px;
	}

	@media (max-width: 768px) {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	&-medium {
		padding-top: 48px;
		padding-bottom: 48px;

		@media (max-width: 1024px) {
			padding-top: 32px;
			padding-bottom: 32px;
		}

		@media (max-width: 768px) {
			padding-top: 32px;
			padding-bottom: 32px;
		}
	}
}

.button {
	$common-styles: (
		gap: 2px,
		border: 0.8px solid var(--white--6),
		border-radius: var(--radius--6px),
		background-color: var(--white--2),
		box-shadow: inset 0 -4px 12px 0 var(--white--6),
		backdrop-filter: blur(12px),
		color: var(--base--white),
		cursor: pointer,
		justify-content: space-between,
		align-items: center,
		width: 100%,
		font-size: 12px,
		line-height: 1.7,
		transition: all 0.3s ease 0s,
		display: flex
	);

	&--feature,
	&--small {
		@each $property, $value in $common-styles {
			#{$property}: $value;
		}

		&:hover {
			border-color: var(--white--20);
			background-color: var(--white--4);
		}
	}

	&--feature {
		padding: 10px 12px;
	}

	&--small {
		padding: 4px 10px 4px 8px;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 500ms ease-in-out forwards;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.gradient {
	.gradient-span {
		background-image: linear-gradient(
			to bottom,
			var(--base--white),
			var(--white--64)
		);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
	}
}

.gradient-alt {
	.gradient-span {
		background-image: linear-gradient(
			to bottom,
			var(--base--white),
			var(--text-subtitle)
		);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
	}
}
