.horizontalLine {
	z-index: 0;
	background-color: var(--neutral--800);
	pointer-events: none;
	width: 100vw;
	height: 1px;
	position: absolute;
	top: auto;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
}
