:root {
	--pill-badge-bg: #131213;
	--pill-badge-hover: #1d1d1c;
	--pill-badge-color: #7c7c7c;
	--pill-badge-hover-color: #edeced;
	--kbd-text: #616060;
	--kbd-bg: #1d1d1c;
	--picker-purple: #131213;
	--kbd-text-hover: #fbfbfa;
	--btn-bg: #131213;
	--btn-bg-hover: #1d1d1c;
	--btn-text: #fbfbfa;
	--picker-purple: #131213;
	--btn-border: #2a2b2a;
	--alert: #e95245;
	--card-border: #2a2b2a;
	--card-bg: #131213;
	--card-pill: #1c1d1c;
	--card-pill-text: #808080;
	--avatar-bg: #1d1d1c;
	--select-bg-hover: #1d1d1c;
	--select-bg: #131213;
	--select-icon-text: #fbfbfa;
	--title-text: #fbfbfa;
	--paragraph-text: #5e5f5f;
	--modal-bg: #131213;
	--modal-border: #2a2b2a;
	--modal-overlay-bg: #060607;
	--popover-bg: #131213;
	--popover-item-hover: #1d1d1c;
	--switch-circle-not-active: #131213;
	--siwtch-bg-not-active: #1d1d1c;
	--switch-active-bg: #fbfbfa;
	--descriiption-text: #616160;
	--picker-orange: #fbfbfa;
	--chart-bar-color: #f4f4f3;
	--bg: #131213;
}
