@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/_scrollar.scss';
@import './components/_mouse-grid.scss';

@import './core/_typography.scss';

@import './themes/_theme-selector.scss'; // contains multiple tailwind themes

@import './utillities/_border.scss';
@import './utillities/_animations.scss';

.trans-all {
	transition: 500ms ease-in-out all;
}

label {
	color: var(--text-title);

	&.dark {
		color: var(--text-subtitle);
	}
}
