@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/_scrollar.scss';
@import './components/_mouse-grid.scss';
@import './components/_hover-efffect.scss';

@import './core/_typography.scss';

@import './themes/_theme-selector.scss';

@import './utillities/_utillities.scss';
@import './utillities/_border.scss';
@import './utillities/_animations.scss';

.trans-all {
	transition: 500ms ease-in-out all;
}

.trans {
	transition: 300ms ease-in-out all;
}

.trans-200 {
	transition: 200ms ease-in-out all;
}

.trans-100 {
	transition: 100ms ease-in-out all;
}

.trans-400 {
	transition: 400ms ease-in-out all;
}

.trans-500 {
	transition: 500ms ease-in-out all;
}

.trans-1000 {
	transition: 1000ms ease-in-out all;
}

label {
	color: var(--text-title);

	&.dark {
		color: var(--text-subtitle);
	}
}

dd {
	color: var(--text-subtitle);
}
