@tailwind base;
@tailwind components;
@tailwind utilities;

@import './themes/_regular.scss';
@import './utillities/_border.scss';
@import './utillities/_animations.scss';

.trans-all {
	transition: 500ms ease-in-out all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-title;
}

label {
	color: var(--text-title);

	&.dark {
		color: var(--text-subtitle);
	}
}
