.contentContainerLines {
	z-index: 5;
	background-image: url(https://assets-global.website-files.com/65b8e9cb3c15d9b62f057c9a/65ba4d3985a8478f0fc2b3ec_Grid%20Light.webp);
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: 1128px;
	width: 100%;
	max-width: 1128px;
	margin-left: auto;
	margin-right: auto;
	padding: 120px 48px;
	position: relative;
}

.containerRegular {
	width: 100%;
	max-width: 984px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.gridTwoColumn {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 24px;
	grid-row-gap: 24px;
}

.wrapVXlarge {
	display: flex;
	flex-direction: column;
	grid-column-gap: 32px;
	grid-row-gap: 32px;
}

.wrapVLarge {
	display: flex;
	flex-direction: column;
	grid-column-gap: 24px;
	grid-row-gap: 24px;
}

.wrapVSmall {
	display: flex;
	flex-direction: column;
	grid-column-gap: 12px;
	grid-row-gap: 12px;
}

.gradientSpan {
	background-image: linear-gradient(
		to bottom,
		var(--base--white),
		var(--white--64)
	);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.paragraphRegular {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.7;
}

.wrapHRegular {
	display: flex;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	align-items: center;
}

.iconWrap {
	border: 1px solid var(--white--4);
	border-radius: var(--radius--8px);
	background-color: var(--white--1);
	box-shadow: inset 0 -4px 8px 0 var(--white--6);
	backdrop-filter: blur(12px);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 13px;
	position: relative;
}

.featureIcon {
	z-index: 2;
	flex: none;
	width: 22px;
	height: 22px;
	position: relative;
}

.iconLine {
	z-index: 4;
	background-image: linear-gradient(
		to right,
		var(--yellow--250),
		var(--purple--250)
	);
	pointer-events: none;
	width: 24px;
	height: 1px;
	position: absolute;
	top: 0%;
	bottom: auto;
	left: auto;
	right: auto;
	box-shadow:
		0 33px 80px rgba(252, 228, 143, 0.8),
		0 16px 40px rgba(187, 143, 252, 0.8),
		0 10px 24px rgba(252, 228, 143, 0.64),
		0 12px 24px rgba(187, 143, 252, 0.72),
		0 4.2px 10.5px rgba(252, 228, 143, 0.6),
		0 2.5px 6.25px rgba(187, 143, 252, 0.45),
		0 1.5px 3.6px rgba(252, 228, 143, 0.4),
		0 0.66px 1.6px rgba(187, 143, 252, 0.24);
}

.labelRegular {
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.7;
}

.paragraphSmall {
	letter-spacing: -0.02em;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 1.7;
}

.contentFormWrap {
	display: flex;
	flex-direction: column;
	grid-column-gap: 32px;
	grid-row-gap: 32px;
	width: 100%;
	max-width: 360px;
}

.horizontalDividerDash {
	display: flex;
	align-items: center;
	width: 100%;
	height: 2px;
}

.wrapVXSmall {
	display: flex;
	flex-direction: column;
	grid-column-gap: 8px;
	grid-row-gap: 8px;
}

.formBlock {
	margin-bottom: 0;
}

.hForm {
	display: flex;
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	align-items: center;
}

.inputIcon {
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
}

.textField {
	border: 1px solid var(--white--12);
	border-radius: var(--radius--40px);
	background-color: var(--white--1);
	box-shadow: inset 0 -4px 12px 0 var(--white--6);
	backdrop-filter: blur(12px);
	color: var(--base--white);
	min-height: 36px;
	margin-bottom: 0;
	padding: 6px 10px 6px 32px;
	font-size: 12px;
	line-height: 1.7;
	width: 100%;
}

.formIcon {
	flex: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 10px;
}

.buttonPrimary {
	display: flex;
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	border-radius: var(--radius--40px);
	background-color: var(--white--12);
	background-image: linear-gradient(
		to bottom,
		var(--white--8),
		rgba(142, 120, 176, 0.08)
	);
	box-shadow:
		inset 0 1px 0.75px 0 var(--white--16),
		inset 0 0 1px 0 var(--white--12);
	backdrop-filter: blur(40px);
	color: #fff;
	text-align: center;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.7;
	text-decoration: none;
	transition: all 0.3s;
}

.successMessage {
	border: 1px solid var(--white--8);
	border-radius: var(--radius--12px);
	background-color: var(--white--6);
	backdrop-filter: blur(24px);
	padding: 24px;
	font-size: 14px;
	line-height: 1.7;
}

.errorMessage {
	background-color: transparent;
	margin-top: 12px;
	padding: 0;
}

.errorInner {
	display: flex;
	grid-column-gap: 6px;
	grid-row-gap: 6px;
	align-items: center;
}

.iconXSmall {
	flex: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
}

.hint {
	display: flex;
	grid-column-gap: 6px;
	grid-row-gap: 6px;
	color: var(--neutral--400);
	align-items: center;
	font-size: 12px;
	line-height: 1.7;
}

.hintLink {
	color: var(--base--white);
	font-size: 12px;
	line-height: 1.7;
}

.imageWrap {
	border: 1px solid var(--neutral--800);
	border-radius: var(--radius--24px);
	background-color: rgba(7, 7, 9, 0.24);
	background-image: linear-gradient(
		to bottom,
		var(--white--2),
		rgba(255, 255, 255, 0)
	);
	backdrop-filter: blur(3px);
	max-width: 384px;
	padding: 4px;
	position: relative;
}

.imageWrapBorder {
	display: flex;
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	border: 1px solid var(--neutral--800);
	border-radius: var(--radius--12px) var(--radius--12px) var(--radius--20px)
		var(--radius--20px);
	flex-direction: column;
	align-items: stretch;
}

.linesGroup {
	z-index: 2;
	pointer-events: none;
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
}

.lineVerticalLeft,
.lineVerticalRight {
	z-index: 1;
	background-color: var(--neutral--800);
	width: 1px;
	height: auto;
	position: absolute;
	top: 4.5px;
	bottom: 0%;
}

.lineVerticalLeft {
	left: 0%;
	right: auto;
}

.lineVerticalRight {
	left: auto;
	right: 0%;
}

.lineDot {
	z-index: 5;
	border: 1px solid var(--neutral--800);
	background-color: #0d0d11;
	border-radius: 2px;
	width: 10px;
	height: 10px;
	position: absolute;

	&.bottomLeft {
		top: auto;
		bottom: -4.5px;
		left: -4.5px;
		right: auto;
	}

	&.bottomRight {
		top: auto;
		bottom: -4.5px;
		left: auto;
		right: -4.5px;
	}

	&.topLeft {
		top: -4.5px;
		bottom: auto;
		left: -4.5px;
		right: auto;
	}

	&.topRight {
		top: -4.5px;
		bottom: auto;
		left: auto;
		right: -4.5px;
	}
}

// Media Queries for Responsiveness
@media screen and (max-width: 991px) {
	.contentContainerLines {
		padding: 80px 32px;
	}

	.gridTwoColumn {
		grid-template-columns: 1fr;
	}

	.imageWrap {
		margin-top: 40px;
		max-width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.contentContainerLines {
		padding: 60px 24px;
	}

	.wrapVXlarge,
	.wrapVLarge {
		grid-row-gap: 24px;
	}

	.contentFormWrap {
		max-width: 100%;
	}
}

@media screen and (max-width: 479px) {
	.contentContainerLines {
		padding: 40px 16px;
	}

	.hForm {
		flex-direction: column;
		align-items: stretch;
	}

	.buttonPrimary {
		width: 100%;
	}
}
