.videoContainerLines {
	z-index: 5;
	width: 100%;
	max-width: 1128px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.linesGroup {
	z-index: 2;
	pointer-events: none;
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
}

.videoLightboxWrapper {
	background-image: url(https://assets-global.website-files.com/65b8e9cb3c15d9b62f057c9a/65c1ec57ec6ef64fcf3daa5b_Video%20BG.webp),
		url(https://assets-global.website-files.com/65b8e9cb3c15d9b62f057c9a/65b8fc23012001ab81658d84_Video.webp);
	background-position:
		50%,
		0 0;
	background-repeat: no-repeat, no-repeat;
	background-size: 984px, 984px;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 540px;
	display: flex;
	position: relative;
}

.lineVerticalLeft,
.lineVerticalRight {
	z-index: 1;
	background-color: var(--neutral--800);
	width: 1px;
	height: auto;
	position: absolute;
	top: 4.5px;
	bottom: 0%;
}

.lineVerticalLeft {
	left: 0%;
	right: auto;
}

.lineVerticalRight {
	left: auto;
	right: 0%;
}

.lineDot {
	z-index: 5;
	border: 1px solid var(--neutral--800);
	background-color: #0d0d11;
	border-radius: 2px;
	width: 10px;
	height: 10px;
	position: absolute;
}

.bottomLeft {
	top: auto;
	bottom: -4.5px;
	left: -4.5px;
	right: auto;
}

.bottomRight {
	top: auto;
	bottom: -4.5px;
	left: auto;
	right: -4.5px;
}

.topLeft {
	top: -4.5px;
	bottom: auto;
	left: -4.5px;
	right: auto;
}

.topRight {
	top: -4.5px;
	bottom: auto;
	left: auto;
	right: -4.5px;
}

.videoLightboxLink {
	border: 1px solid var(--white--6);
	background-color: var(--white--2);
	box-shadow: inset 0 -16px 24px 0 var(--white--10);
	backdrop-filter: blur(12px);
	border-radius: 100%;
	padding: 36px;
	transition: transform 0.3s;
	position: absolute;

	&:hover {
		transform: scale(1.2);
	}
}

.wInlineBlock {
	max-width: 100%;
	display: inline-block;
}

.iconRegular {
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	transition: color 0.2s;
	display: flex;
}

.styleYWvEo {
	transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
		rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	opacity: 1;
	transform-style: preserve-3d;
}
