.fade-in-1 {
	opacity: 0;
	animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

// Shadcn spinner css
@keyframes loadingDots {
	0% {
		content: '.';
	}

	33% {
		content: '..';
	}

	66% {
		content: '...';
	}
}

.loading-dots::after {
	content: '.';
	animation: loadingDots 1.5s infinite;
}
